#----------------
# General Nginx configuration file for ClusteredHeatmap
#----------------

# NOTE - you will need to update the IP address to your servers IP address or domain name below

#----------------
# General config
#----------------

server {
        listen 80;
        server_name 192.100.10.1; # CHANGE: to server IP address or domain name
        error_page  405     =200 $uri;



#----------------
# ClusteredHeatmap site
#----------------

        location / {
                # CHANGE: this to where your dist/ folder is
                root /home/$USER/Micromix/ClusteredHeatmap/frontend/dist;
                try_files $uri $uri/ /index.html;
        }

        location /status {
               include proxy_params;
               proxy_pass http://192.100.10.1:3001; #CHANGE: this and following IP addresses - do not need to use domain name here
       }

        location /config {
               include proxy_params;
                 proxy_pass http://192.100.10.1:3001;
        }

        location /save-settings {
               include proxy_params;
               proxy_pass http://192.100.10.1:3001;
        }

        location /get-user-settings {
               include proxy_params;
               proxy_pass http://192.100.10.1:3001;
        }


}
